.container
{
     width: 650px;
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur (10px);
     border: rgba(255, 255, 255, 0.20);
     padding: 40px;
     border-radius: 10px;
}

.container h1
{
     text-align: center;
}

.container .input-field
{
     position: relative;
     width: 100%;
     height: 50px;
     margin: 30px auto;
}

.input-field input
{
     width: 100%;
     height: 100%;
     background-color: transparent;
     outline: auto;
     font-size: 20px;
     color: #fff;
     padding: 20px 45px;
}

.input-field .icon
{
     position: absolute;
     right: 25px;
     top: 50%;
     transform: translate(-50%)
}

.container .recall-forget
{
     display: flex;
     justify-content: space-between;
     font-size: 14.5px;
     margin: -15px 0 15px;
}

.recall-forget input
{
     margin-right: 5px;
}

.recall-forget a, .signup-link p a
{
     color: #fff;     
}

.recall-forget a:hover, .signup-link p a
{
     text-decoration: underline;
}

.container button
{
     width: 100%;
     height: 50px;
     background-color: #fff;
     border: none;
     border-radius: 10px;
     font-size: 16px;
     cursor: pointer;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     font-weight: 600;
     text-shadow: none;
     color: black;
}

.container .signup-link
{
     font-size: 15px;
     text-align: center;
     margin: 20px 10px;
}

