
*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: Helvetica;
  text-shadow: #000 1px 1px;
  color: #fff;
  
}

body
{
  
  background: linear-gradient(to right, #0DDED7, #0DA3DE);
}

.App
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}